@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* 6e0d25 FF4D80 */
 .brand .text-1{
    color: #ff3e41;
 }
 .brand .text-2{
  color: #f3c677;
 }
 .nav-links {
  color: #f3c677;
 }
 .nav-links:hover {
  color: #fff;
  background-color: #f3c677;
  padding: 6px;
  border-radius: 8px;
  transition: 0.1s ease-in-out; 
 }
 .welcome-text h1{
    color: #F3C677;
}
.welcome-text .btn {
    background: #f75053;
}
.reset-btn{
  background: #f75053;
}